{% extends 'base.html.twig' %}

{% block title %}Liste des modules
{% endblock %}

{% block body %}
	<div class="container">

		<h1>Liste des modules</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Actif</th>
					<th>Température</th>
					<th>Durée de fonctionnement (en minutes)</th>
					<th>Données envoyées</th>
				</tr>
			</thead>
			<tbody>
				{% for module in modules %}
					<tr>
						<td>{{ module.id }}</td>
						<td>{{ module.name }}</td>
						<td>{{ module.description }}</td>
						<td>{{ module.active ? 'Oui' : 'Non' }}</td>
						<td>{{ module.temperature }}</td>
						<td>{{ module.uptime }}</td>
						<td>{{ module.dataSent |default('NC') }}</td>
						<td>
							<button>
								<a href="{{ path('module_read', {'id': module.id}) }}">Voir</a>
							</button>
						</td>
						<td>
							<button>
								<a href="{{ path('module_edit', {'id': module.id}) }}">Modifier</a>
							</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="13">Aucun module n'est enregistré</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<button>
			<a href="{{ path('module_add') }}">Créer un nouveau module</a>
		</button>
	</div>
{% endblock %}
