{% extends 'base.html.twig' %}

{% block title %}Détail du module
{% endblock %}

{% block body %}
	<div class="container-fluid m-auto">

		<h1>Module :{{ module.name }}</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Nom</th>
					<td>{{ module.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ module.description }}</td>
				</tr>
				<tr>
					<th>Actif</th>
					<td>{{ module.active ? 'Oui' : 'Non' }}</td>
				</tr>
				<tr>
					<th>Température</th>
					<td>{% if module.displayTemperature %} {{ module.temperature }} {% else %} - {% endif %}</td>
 				</tr>
				<tr>
					<th>Durée de fonctionnement</th>
					<td>{% if module.displayUptime %} {{ module.uptime }} {% else %} - {% endif %}</td>
				</tr>
				<tr>
					<th>Données envoyées</th>
					<td>{% if module.displayDataSent %} {{ module.dataSent }} {% else %} - {% endif %}</td>
				</tr>
			</tbody>
		</table>

<h2>historiques </h2>
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Propriété</th>
   					<th>Ancienne valeur</th>
					<th>Nouvelle valeur</th>
				</tr>
			</thead>
		
			<tbody>
					{% for history in module.histories %}
					<tr>
						<td>{{ history.date|format_datetime('short', 'short', locale='fr') }}</td>
						<td>{{ history.property }}</td>
   						<td>{{ history.oldValue }}</td>
						<td>{{ history.newValue }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="13">Aucun historique n'est enregistré</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

		<div class="row">
			<button class="ml-3 mr-3">
				<a href="{{ path('module_edit', {'id': module.id}) }}">Modifier</a>
			</button>

			{{ include('module/_delete_form.html.twig') }}
		</div>

		<div class="row">
			<button class="ml-3 mt-3 mb-5">
				<a href="{{ path('module_browse') }}">Retour à la liste</a>
			</button>
		</div>

	</div>
{% endblock %}
