{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container-fluid m-auto">

		<h1>Etat des modules</h1>

		{% if module %}

			<h2>Modules actifs</h2>

			<div class="row">

				{% for active in actives %}

					<div class="card text-white bg-success mb-3 mr-3 col-3" style="max-width: 20rem;">
						<div class="card-header" style="font-size: 1.75rem">{{ active.name }}</div>
						<div class="card-body">
							<h4 class="card-title" style="font-size: 1rem">{{ active.description }}</h4>
							<div class="row">
								<p class="card-text mr-4">
									{% if active.displayTemperature %}
										<i class="fas fa-thermometer-three-quarters"></i>
										{{ active.temperature }} °C
									{% endif %}
								</p>

								<p class="card-text mr-4">
									{% if active.displayUptime %}
										<i class="far fa-clock"></i>
										{{ active.uptime }} min
									{% endif %}
								</p>
								<p class="card-text mr-4">
									{% if active.displayDataSent %}
										<i class="fas fa-database"></i>
										{{ active.dataSent }}
									{% endif %}
								</p>

							</div>
						</div>
					</div>

				{% endfor %}
			</div>

			<h2>Modules inactifs</h2>

			<div class="row">
				{% for inactive in inactives %}
					<div class="card text-white bg-danger mb-3 mr-3 col-3" style="max-width: 20rem;">
						<div class="card-header" style="font-size: 1.75rem">{{ inactive.name }}</div>
						<div class="card-body">
							<h4 class="card-title" style="font-size: 1rem">{{ inactive.description }}</h4>
						</div>
					</div>

				{% endfor %}


			{% else %}
				<tr>
					<td colspan="13">Aucun module n'est enregistré</td>
				</tr>

			{% endif %}

		</div>

	{% endblock %}
